---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [3]:
import pandas as pd
# pd.Series?
! pip install tqdm

SyntaxError: invalid syntax (<ipython-input-3-a45466fbe198>, line 4)

In [4]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [94]:
animals=['tiger','lion','loepard']
pd.Series(animals)

0      tiger
1       lion
2    loepard
dtype: object

In [95]:
numbers=[1,2,3,4]
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

In [96]:
animals=['lion','cat',None]
pd.Series(animals)

0    lion
1     cat
2    None
dtype: object

In [97]:
import numpy as np
np.nan==None

False

In [98]:
type(np.nan)

float

In [99]:
type(None)

NoneType

In [100]:
np.isnan(np.nan)

True

In [101]:
sports= { 'Archery': 'Bhutan',
         'Golf': 'Scotland',
         'Cricket': 'England'
    
}
s = pd.Series(sports)
s

Archery      Bhutan
Cricket     England
Golf       Scotland
dtype: object

In [102]:
s.index

Index(['Archery', 'Cricket', 'Golf'], dtype='object')

In [103]:
s = pd.Series(['Tiger','loin',None], index=['Bharat','America','Bali'])
s

Bharat     Tiger
America     loin
Bali        None
dtype: object

In [104]:
sports= { 'Archery': 'Bhutan',
         'Golf': 'Scotland',
         'Cricket': 'England'
    
}
s = pd.Series(sports,index=['Golf','Cricket', 'Hockey'])
s

Golf       Scotland
Cricket     England
Hockey          NaN
dtype: object

# Querying a Series

using iloc and loc
- iloc: querying through integer index(value)
- loc: querying through label (name of column)

iloc and loc are attributes not method so use square braces []

In [105]:
sports = {
    'Archery': 'Bhutan',
    'Golf': 'Scotland',
    'Sumo': 'Japan',
    'Taekwondo': 'South Korea'
}

s= pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [106]:
s.iloc[2]

'Japan'

In [107]:
s.loc['Golf']

'Scotland'

sports={
    99: 'Bhutan',
    100: 'Scotland',
    101: 'Japan',
    102: 'South Korea'
}

s= pd.Series(sports)
s[0] ## will return an error

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-51-6c4f544cecba> in <module>()
      7 
      8 s= pd.Series(sports)
----> 9 s[0] ## will return an error

/opt/conda/lib/python3.6/site-packages/pandas/core/series.py in __getitem__(self, key)
    601         key = com._apply_if_callable(key, self)
    602         try:
--> 603             result = self.index.get_value(self, key)
    604 
    605             if not is_scalar(result):

/opt/conda/lib/python3.6/site-packages/pandas/indexes/base.py in get_value(self, series, key)
   2167         try:
   2168             return self._engine.get_value(s, k,
-> 2169                                           tz=getattr(series.dtype, 'tz', None))
   2170         except KeyError as e1:
   2171             if len(self) > 0 and self.inferred_type in ['integer', 'boolean']:

pandas/index.pyx in pandas.index.IndexEngine.get_value (pandas/index.c:3557)()

pandas/index.pyx in pandas.index.IndexEngine.get_value (pandas/index.c:3240)()

pandas/index.pyx in pandas.index.IndexEngine.get_loc (pandas/index.c:4279)()

pandas/src/hashtable_class_helper.pxi in pandas.hashtable.Int64HashTable.get_item (pandas/hashtable.c:8564)()

pandas/src/hashtable_class_helper.pxi in pandas.hashtable.Int64HashTable.get_item (pandas/hashtable.c:8508)()

KeyError: 0

In [108]:
s= pd.Series([100.00,120.00,110.00,3.3])
s

0    100.0
1    120.0
2    110.0
3      3.3
dtype: float64

In [109]:
total= 0
for items in s:
    total+=items
print(total)

333.3

In [110]:
np.sum(s)

333.30000000000001

In [111]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    274
1    775
2    581
3     27
4    759
dtype: int64

In [112]:
s

0       274
1       775
2       581
3        27
4       759
5       255
6        68
7       952
8       179
9       625
10      148
11      585
12      405
13      638
14      695
15       84
16      534
17      799
18      316
19      651
20      648
21      163
22      551
23      729
24      631
25      452
26      347
27      237
28      859
29      661
       ...
9970    433
9971    691
9972    417
9973    109
9974    608
9975    594
9976    800
9977    746
9978    616
9979     65
9980    334
9981    594
9982    793
9983     40
9984    256
9985    405
9986    591
9987     13
9988    659
9989    388
9990    525
9991     29
9992    343
9993    861
9994    514
9995    190
9996    866
9997    907
9998    548
9999    977
dtype: int64

In [113]:
z= np.asarray([1,2,34,5])
z.shape

from tqdm import tqdm

#### magic functions

In [114]:

%%timeit -n 100
summary = 0
for item in tqdm(s):
    summary+=item

100%|██████████| 10000/10000 [00:00<00:00, 1378798.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1388428.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2256579.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145726.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2194017.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2263276.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2218152.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2222736.62it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2274815.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2186013.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2221441.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2181579.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2257186.52it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2111722.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2210436.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235769.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2195051.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2161566.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2211835.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145586.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2225331.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2108114.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2159452.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2207993.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 144856.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2196775.78it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2269522.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1959131.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2089317.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145019.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2271857.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2229945.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2197466.34it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235293.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2163573.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2208574.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2208342.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2212652.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2264009.50it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130424.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2186469.27it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2233626.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2160230.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2253669.34it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137905.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2211952.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2257794.05it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2155346.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2191266.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 135388.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2234340.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2259375.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2178067.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 124659.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2196200.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2232200.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2140606.31it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2166591.25it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2136136.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2160675.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2166815.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2200579.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2193788.38it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130166.53it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2210436.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2240666.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2213703.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2234935.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2122086.52it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2145424.04it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2115450.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2216511.12it/s]
100%|██████████| 10000/10000 [00:00<00:00, 135215.95it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2187952.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2111935.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1966848.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2224504.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137410.04it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2189093.95it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2233864.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2181352.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2236485.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137814.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2224740.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2284852.64it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2165696.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185443.93it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2261446.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2130602.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2227221.75it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2207877.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2262543.96it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137092.05it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1139013.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1150038.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1130784.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145165.78it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1167126.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1152249.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 142163.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1098272.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1393363.90it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1323458.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 139686.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1368630.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1333048.56it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1352041.78it/s]
100%|██████████| 10000/10000 [00:00<00:00, 147488.90it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1344629.88it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1772590.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2035279.50it/s]
100%|██████████| 10000/10000 [00:00<00:00, 136904.12it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2051907.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2138096.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2133528.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2092444.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145727.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1984248.27it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2058554.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1989519.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2147181.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 131447.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1117587.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1122071.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137285.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2129628.84it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2216394.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2229352.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2158229.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2247390.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 154688.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2187153.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1142986.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1117944.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137369.53it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1135068.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1147583.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2242104.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145407.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2131143.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2172426.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2225449.14it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2168495.50it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145787.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2095266.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2220148.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2127792.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2104201.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137082.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2189779.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2208225.76it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2241624.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130243.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2217096.94it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2110129.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2213353.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2237439.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 132592.25it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1370195.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2217917.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2246788.09it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130298.76it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2159563.38it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2264376.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2178859.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2211835.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137898.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2253306.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2300265.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2177727.93it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2246667.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130189.15it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2175920.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2226512.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2180898.50it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2189093.95it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137499.23it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2183055.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2297871.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2229234.12it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185671.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2162346.75it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185102.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2170852.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2306717.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137115.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235054.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2318960.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2296361.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2284479.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137954.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2146741.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2241984.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2256215.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2278398.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 138110.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2191839.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2294853.64it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2177049.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 124104.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2240068.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2230894.10it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2211136.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2128656.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2122301.27it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2205787.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2251854.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2229115.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2264865.27it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137934.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1405974.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1393873.25it/s]
100%|██████████| 10000/10000 [00:00<00:00, 124038.99it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2237678.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2266333.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2261811.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2180671.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2233032.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145704.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1852362.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1361345.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 124422.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1333981.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2268540.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1875471.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1944868.77it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2148831.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2243423.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1374505.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1421942.57it/s]
100%|██████████| 10000/10000 [00:00<00:00, 142153.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1358171.10it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1385722.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1371898.08it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2067993.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 141591.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1170253.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2222265.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2047800.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 144630.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2038147.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2171189.56it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2240307.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2161789.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145772.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2120370.05it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185671.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185443.93it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2146961.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 132756.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1391237.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1362539.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1411035.83it/s]
100%|██████████| 10000/10000 [00:00<00:00, 148213.34it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1377620.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1388198.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1421508.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140280.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1439708.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1413603.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1842192.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145553.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2209621.75it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2227576.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2192068.57it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2233626.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137548.83it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2189322.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2242943.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2183282.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2232081.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1119735.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1125413.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1338921.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2202543.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 154180.81it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2053715.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2149712.47it/s]

100%|██████████| 10000/10000 [00:00<00:00, 2151366.43it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1877990.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2039535.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2095056.94it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2192985.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2207644.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2228641.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 154440.83it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2200579.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2268540.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2167150.98it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235888.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137278.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1398707.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1398334.39it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2218621.53it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2228286.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2186925.28it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2252580.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2218621.53it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2301148.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137749.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2214404.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2273828.47it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2155014.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2190351.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137326.81it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2140169.41it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2152139.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1144327.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137040.10it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1105364.08it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1309206.23it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1886267.31it/s]
100%|██████████| 10000/10000 [00:00<00:00, 141414.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1329204.25it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1589594.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2072591.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1819970.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2122730.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2228760.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2220853.54it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2300770.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2166255.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 146035.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1998429.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1928681.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2046401.25it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2042713.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 136740.76it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1706111.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1803924.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2076285.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2252217.15it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1896073.41it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2273212.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2223325.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2248233.28it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2200463.77it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2202312.42it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2206483.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2167150.98it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2120477.25it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2126821.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1380840.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1385401.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1385264.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140221.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1413365.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1393595.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1335000.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1813204.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 147805.94it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1386134.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1989802.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2222854.42it/s]
100%|██████████| 10000/10000 [00:00<00:00, 139902.94it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2220971.14it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2180558.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2197581.47it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1357336.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140278.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1393595.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1395914.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1404515.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 142218.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1395403.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1395310.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1338579.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140098.27it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2138750.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2233269.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2204395.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2219091.05it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2273705.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145674.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2109704.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2247630.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2257186.52it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2229589.62it/s]
100%|██████████| 10000/10000 [00:00<00:00, 144606.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2144217.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2165696.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2156343.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2292094.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2280628.57it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145624.43it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2192297.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2241385.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2258037.15it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2106737.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145364.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2176936.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2096523.04it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235054.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2222265.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2207993.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2180785.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2218973.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2237558.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 133602.52it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2204395.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2273458.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2199886.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2166031.81it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137989.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235293.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2253185.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2241145.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2294728.09it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2220500.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2189551.05it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2253911.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2208574.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2239231.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 125566.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1371763.47it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1353306.88it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1387418.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1391007.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1392115.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1369747.56it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140316.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2183964.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2177049.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2225685.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2247510.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137677.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2244503.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2191724.93it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2045303.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2127468.43it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2146302.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2048900.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2218386.84it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2245825.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2164131.88it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145033.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2244023.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2262788.09it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2246427.08it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2268785.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130020.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2142355.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2279389.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2221559.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2253911.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137902.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2227694.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2281869.32it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2225331.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2262055.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130389.90it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2177275.75it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2258280.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2283608.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1130784.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 143092.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1210686.99it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1215599.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2057443.34it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145871.08it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2153686.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2209738.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2191495.90it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2269399.42it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2208574.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 142418.77it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2142027.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2266211.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2232675.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2241025.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137640.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2212652.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2265844.09it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2231012.77it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235650.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137624.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2197581.47it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2279884.76it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2306590.41it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130466.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2213586.66it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2159897.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2094847.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2262543.96it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2276049.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2209039.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2182373.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2226985.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2239589.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130475.08it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2189894.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1371628.90it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1403152.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 134054.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2215574.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2017656.34it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1671437.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2249921.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145524.39it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2200232.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1391745.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1390546.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1867288.75it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2230182.38it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2167710.99it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2228997.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2183396.15it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2197121.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 144128.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2206019.04it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2291343.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2195970.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2211136.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2178067.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140646.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1413079.98it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1427605.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1939383.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137848.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2224504.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2306844.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2026331.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2296361.35it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2303170.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1117378.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1121081.98it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1339476.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 153075.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1333472.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2217683.08it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2184533.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2240188.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137857.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2234102.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2254274.97it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2181579.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2235293.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137396.98it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2232437.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2276173.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2182828.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2310911.29it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2153796.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2234697.64it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2259862.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2262421.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2260105.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137998.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2231131.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2190923.53it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2130169.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2203816.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137715.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2285226.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2219560.78it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2101986.57it/s]

100%|██████████| 10000/10000 [00:00<00:00, 2166367.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137680.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2131793.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2171864.13it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2149932.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2152580.96it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130214.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2200117.50it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2218738.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2276049.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 130282.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2226985.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2266333.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2247630.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2173552.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2226985.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145912.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2192985.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2271488.76it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2242463.64it/s]
100%|██████████| 10000/10000 [00:00<00:00, 123914.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2126497.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1152597.97it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1105451.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 143462.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1926024.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2025548.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1957394.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1971934.18it/s]
100%|██████████| 10000/10000 [00:00<00:00, 136869.27it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1920293.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2250404.55it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2022618.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2204280.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 143473.98it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1977046.43it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2021059.12it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1922757.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1127046.62it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1143049.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1144514.97it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2054118.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185102.37it/s]
100%|██████████| 10000/10000 [00:00<00:00, 154655.52it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2207760.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1901833.68it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2237678.19it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2165360.87it/s]
100%|██████████| 10000/10000 [00:00<00:00, 133681.72it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1177844.43it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1166445.30it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1142115.24it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2074129.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2147511.14it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2196660.73it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2317935.34it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2288343.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145791.47it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2281621.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2285848.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2299634.85it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2216394.00it/s]
100%|██████████| 10000/10000 [00:00<00:00, 144213.95it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2233745.54it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2261811.91it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2152139.16it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2254153.81it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2295104.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2272596.45it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2205439.06it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1139354.03it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1150416.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 136824.62it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1142239.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1128441.44it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1443375.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1980220.01it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1158167.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1157752.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 139157.02it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1131943.65it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1110926.76it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1129079.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 136903.67it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1351649.64it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1401933.28it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1355449.84it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2178519.71it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2246547.40it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2248956.57it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2247630.89it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2289842.22it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137708.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2217448.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2310529.39it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2255487.20it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2271119.77it/s]
100%|██████████| 10000/10000 [00:00<00:00, 137652.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2147731.07it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1390822.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1403340.47it/s]
100%|██████████| 10000/10000 [00:00<00:00, 132567.11it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1372077.59it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1361212.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1374775.97it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1355668.90it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1369613.38it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1405644.96it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2182600.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2061285.63it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2080920.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2161900.93it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2157896.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1850645.96it/s]
100%|██████████| 10000/10000 [00:00<00:00, 143238.79it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2199079.33it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2185671.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2237558.82it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2280752.58it/s]
100%|██████████| 10000/10000 [00:00<00:00, 139757.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2284977.12it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2303676.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2311420.70it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2223679.36it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2212535.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 145415.92it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2197696.62it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2216628.26it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2227458.31it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2183623.49it/s]
100%|██████████| 10000/10000 [00:00<00:00, 144361.86it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2144546.48it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2127792.21it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2120584.46it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2089108.93it/s]
100%|██████████| 10000/10000 [00:00<00:00, 136478.69it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1111603.94it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1094318.51it/s]
100%|██████████| 10000/10000 [00:00<00:00, 1275135.74it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2114704.04it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2192756.17it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2138532.61it/s]
100%|██████████| 10000/10000 [00:00<00:00, 2197811.78it/s]
100%|██████████| 10000/10000 [00:00<00:00, 140622.93it/s]

21.4 ms ± 502 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

##### vectorization addition

In [115]:
%%timeit -n 100
summary = np.sum(s)

The slowest run took 7.91 times longer than the fastest. This could mean that an intermediate result is being cached.
186 µs ± 216 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [116]:
s += 2 ## adding 2 to each and every position in a series.
s.head()

0    276
1    777
2    583
3     29
4    761
dtype: int64

In [117]:
for label, value in tqdm(s.iteritems()):
    s.set_value(label,value+2)
s.head()

10000it [00:00, 98018.60it/s]

0    278
1    779
2    585
3     31
4    763
dtype: int64

In [118]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label,value in tqdm(s.iteritems()):
    s.loc[label]=value+2

10000it [00:01, 7104.64it/s]
10000it [00:01, 7595.53it/s]
10000it [00:01, 7559.52it/s]
10000it [00:01, 7040.67it/s]
10000it [00:01, 7287.05it/s]
10000it [00:01, 7108.43it/s]
10000it [00:01, 7149.81it/s]
10000it [00:01, 7184.54it/s]
10000it [00:01, 7237.37it/s]
10000it [00:01, 7141.10it/s]
10000it [00:01, 7528.34it/s]
10000it [00:01, 7430.70it/s]
10000it [00:01, 7603.58it/s]
10000it [00:01, 7021.04it/s]
10000it [00:01, 6819.62it/s]
10000it [00:01, 7522.15it/s]
10000it [00:01, 6030.01it/s]
10000it [00:01, 7501.43it/s]
10000it [00:01, 6819.32it/s]
10000it [00:01, 7493.19it/s]
10000it [00:01, 7160.31it/s]
10000it [00:01, 7286.04it/s]
10000it [00:01, 7567.44it/s]
10000it [00:01, 7155.81it/s]
10000it [00:01, 7221.19it/s]
10000it [00:01, 7203.25it/s]
10000it [00:01, 7576.43it/s]
10000it [00:01, 7318.38it/s]
10000it [00:01, 7174.92it/s]
10000it [00:01, 7168.33it/s]
10000it [00:01, 7153.37it/s]
10000it [00:01, 7120.65it/s]
10000it [00:01, 7163.69it/s]
10000it [00:01, 7476.89it/s]
10000it [00:01, 7468.86it/s]
10000it [00:01, 7261.04it/s]
10000it [00:01, 7195.43it/s]
10000it [00:01, 7605.89it/s]
10000it [00:01, 7166.55it/s]
10000it [00:01, 5882.59it/s]
10000it [00:01, 7598.49it/s]
10000it [00:01, 7276.02it/s]
10000it [00:01, 7233.23it/s]
10000it [00:01, 7530.00it/s]
10000it [00:01, 7238.02it/s]
10000it [00:01, 7237.30it/s]
10000it [00:01, 7487.72it/s]
10000it [00:01, 7272.79it/s]
10000it [00:01, 7193.73it/s]
10000it [00:01, 7532.00it/s]
10000it [00:01, 7269.02it/s]
10000it [00:01, 7211.58it/s]
10000it [00:01, 7508.53it/s]
10000it [00:01, 7200.23it/s]
10000it [00:01, 7142.57it/s]
10000it [00:01, 7193.98it/s]
10000it [00:01, 7584.53it/s]
10000it [00:01, 7320.38it/s]
10000it [00:01, 7499.00it/s]
10000it [00:01, 7434.21it/s]
10000it [00:01, 7580.89it/s]
10000it [00:01, 7585.13it/s]
10000it [00:01, 7299.08it/s]
10000it [00:01, 7094.39it/s]
10000it [00:01, 7230.52it/s]
10000it [00:01, 7524.15it/s]
10000it [00:01, 7257.75it/s]
10000it [00:01, 7203.14it/s]
10000it [00:01, 7119.46it/s]
10000it [00:01, 7597.09it/s]

1.38 s ± 19.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [119]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s += 2

The slowest run took 25.94 times longer than the fastest. This could mean that an intermediate result is being cached.
1.06 ms ± 1.97 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [120]:
s = pd.Series([1,2,3])
s.loc['Animal'] = 'Bear'
s

0            1
1            2
2            3
Animal    Bear
dtype: object

In [121]:
original_sports=pd.Series({
    'Golf' : 'Scottland',
    'Sumo' : 'Japan',
    'South Korea' : 'Taekwondo'
})
cricket_liked = pd.Series(['India', 'Autralia', 'Bangladesh'], 
                          index= ['Cricket', 
                                  'Cricket', 
                                  'Cricket'])   # you need to store the result to append, it doesnot perform inplace append.
all_country = original_sports.append(cricket_liked) 
new1= pd.Series({
    'Hajuek': 'Leh'
})
all_country = all_country.append(new1)
all_country

Golf            Scottland
South Korea     Taekwondo
Sumo                Japan
Cricket             India
Cricket          Autralia
Cricket        Bangladesh
Hajuek                Leh
dtype: object

# The DataFrame Data Structure

In [122]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter'})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   NaN   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [123]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [124]:

type(df.loc['Store 2'])

pandas.core.series.Series

In [125]:
df.loc['Store 1'] #quering a dataframe with loc returns a dataframe and not a series

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   NaN   Kitty Litter  Kevyn

In [126]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     NaN
Name: Cost, dtype: float64

In [127]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [128]:
df.loc[:,'Item Purchased'] == df['Item Purchased']

Store 1    True
Store 1    True
Store 2    True
Name: Item Purchased, dtype: bool

In [129]:
df.loc[:]['Item Purchased'] == df['Item Purchased']

Store 1    True
Store 1    True
Store 2    True
Name: Item Purchased, dtype: bool

In [130]:
df.T?

In [131]:
df.T.loc['Cost']

Store 1    22.5
Store 1     NaN
Store 2       5
Name: Cost, dtype: object

In [132]:
df['Cost']

Store 1    22.5
Store 1     NaN
Store 2     5.0
Name: Cost, dtype: float64

In [133]:
df.loc['Store 1']['Cost']  #chaining returns copy of the data this makes result slow

Store 1    22.5
Store 1     NaN
Name: Cost, dtype: float64

In [134]:
df.loc[:,['Name', 'Cost']] # colon shows slicing and list of columns

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   NaN
Store 2  Vinod   5.0

In [135]:
df.drop('Store 1') #no inplace changes, only changes in the view, need to make a copy of the view to reflect the changes on console

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [136]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   NaN   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [137]:
copy_df = df.copy() # to drop, make copy of the dataframe and perform operations
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [138]:
copy_df.drop?

In [139]:
del copy_df['Name'] #immediate delete of a column
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

In [140]:
df['Location'] = None #creating a new column
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   NaN   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None

#### For the purchase records from the pet store, how would you update the DataFrame, applying a discount of 20% across all the values in the 'Cost' column?

In [141]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

# Your answer here
df['Cost'] =df['Cost']- df['Cost']* 0.2 
# df['Cost'] *= 0.8 #can also be considered
df

         Cost Item Purchased   Name
Store 1  18.0       Dog Food  Chris
Store 1   2.0   Kitty Litter  Kevyn
Store 2   4.0      Bird Seed  Vinod

# Dataframe Indexing and Loading

In [142]:
costs = df['Cost']
costs

Store 1    18.0
Store 1     2.0
Store 2     4.0
Name: Cost, dtype: float64

In [143]:
costs+=2 #inplace changes are seen, so if not required make a copy of data
costs

Store 1    20.0
Store 1     4.0
Store 2     6.0
Name: Cost, dtype: float64

In [144]:
df

         Cost Item Purchased   Name
Store 1  20.0       Dog Food  Chris
Store 1   4.0   Kitty Litter  Kevyn
Store 2   6.0      Bird Seed  Vinod

In [145]:
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [146]:
df = pd.read_csv('olympics.csv')
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [147]:
df= pd.read_csv('olympics.csv', index_col= 0 ,header= 1) 
# df = pd.read_csv('olympics.csv', index_col=0, skiprows=1) # Both are same
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [148]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [149]:
for col in df.columns:
    if col[0:2]=='01':
        df.rename(columns={col: 'Gold'+col[4:]}, inplace=True)
    if col[0:2]== '02':
        df.rename(columns={col: 'Silver'+col[4:]},inplace=True)
    if col[0:2]== '03':
        df.rename(columns={col: 'Bronze'+col[4:]}, inplace=True)
    if col[0]== '№':
        df.rename(columns={col: '#'+col[2:]},inplace=True)
df

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

# Querying a DataFrame

In [150]:
df['Gold']>0 #broadcasting

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [151]:
copy_df= df
copy_df=copy_df.where(copy_df['Gold']>0)

copy_df

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
Austria (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
Azerbaijan (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
Bahamas (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
Bahrain (BRN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barbados (BAR) [BAR],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belarus (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
Belgium (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
Bermuda (BER),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bohemia (BOH) [BOH] [Z],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Botswana (BOT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
British West Indies (BWI) [BWI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
Burundi (BDI),5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0
Cameroon (CMR),13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0
Canada (CAN),25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0
Chile (CHI) [I],22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0
China (CHN) [CHN],9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0
Colombia (COL),18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0
Costa Rica (CRC),14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0
Ivory Coast (CIV) [CIV],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Croatia (CRO),6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0
Cuba (CUB) [Z],19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0
Cyprus (CYP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sudan (SUD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suriname (SUR) [E],11.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,2.0
Sweden (SWE) [Z],26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0
Switzerland (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0
Syria (SYR),12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0
Chinese Taipei (TPE) [TPE] [TPE2],13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0
Tajikistan (TJK),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania (TAN) [TAN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thailand (THA),15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0
Togo (TOG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tonga (TGA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trinidad and Tobago (TRI) [TRI],16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0
Tunisia (TUN),13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0
Turkey (TUR),21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0
Uganda (UGA),14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0
Ukraine (UKR),5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0
United Arab Emirates (UAE),8.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
United States (USA) [P] [Q] [R] [Z],26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0
Uruguay (URU),20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0
Uzbekistan (UZB),5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0
Venezuela (VEN),17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0
Vietnam (VIE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (ISV),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia (YUG) [YUG],16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0
Independent Olympic Participants (IOP) [IOP],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia (ZAM) [ZAM],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

# Indexing Dataframes

In [152]:
df.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

index by number of gold medals won at olympics

In [154]:
df['country'] = df.index # preserving country info in new column to prevent data loss
df = df.set_index('Gold') # set new index
df.head()

,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

The above data has Gold row with empty values. We need to remove those empty values

In [155]:
df = df.reset_index() # promotes index into a column and creates default numbered index
df.head()

,Gold,#Summer,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined total,country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [157]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [158]:
df['SUMLEV'].unique() # similar to sql distinct query

array([40, 50])

In [161]:
df=df[df['SUMLEV'] == 50] # get rid of all rows that are summarys at state level
#keeping only the county data 
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [162]:
# list of column names required
columns_to_keep = ['STNAME',
                   'CTYNAME', 
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

Set multiple indices , hierarchical indexing

In [163]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [164]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [165]:
# querying the index you need to query as per the index levels.
# outer most is the index level 0
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

Reindex the purchase records DataFrame to be indexed hierarchically, first by store, then by person. Name these indexes 'Location' and 'Name'. Then add a new entry to it with the value of:

Name: 'Kevyn', Item Purchased: 'Kitty Food', Cost: 3.00 Location: 'Store 2'.

In [33]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


# Your answer here
df.reset_index(inplace=True)

df.rename(columns={'index':'Location'},inplace=True)
df.set_index(['Location','Name'],inplace=True)
# purchase_4 = pd.Series(data={"Location":"Store 2","Name":"Kevin","Cost":3.00,"Item Purchased":"Kitty Food"})#,index=['Location','Name'])
# df=df.append(pd.Series(data={"Location":"Store 2","Name":"Kevin","Cost":3.00,"Item Purchased":"Kitty Food"}))
# df
df = df.append(pd.Series(data={'Item Purchased': 'Kitty Food','Cost': 3.00}, name=('Store 2', 'Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevyn   3.0     Kitty Food

# Missing values

In [70]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [71]:
df.fillna?

In [72]:
df = df.set_index('time')
df = df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [73]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [74]:
df = df.fillna(method='ffill')
df.head()

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6  False    10.0
           sue     advanced.html                 24  False    10.0
1469974484 cheryl     intro.html                  7  False    10.0